[package]
name = "sfo_06_print_a_linked_list_reverse_order_s2"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
